.tag {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 12px;
}

.status-p {
  background: hsl(60, 100%, 90%);
  color: hsl(60, 30%, 25%);
}

.status-a {
  background: hsl(230, 70%, 90%);
  color: hsl(230, 45%, 30%);
}

.status-c {
  background: hsl(350, 70%, 90%);
  color: hsl(350, 45%, 30%);
}

.status-f {
  background: hsl(116, 70%, 90%);
  color: hsl(116, 45%, 30%);
}